@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
  }
  .navigation .logo{
    display: flex;
  }
  .navigation .anchor{
    display: flex;
    gap: 20px;
    
  }
  .navigation .anchor .an{
    text-decoration: none;
  }
  .home{
    color: rgba(254, 163, 1, 1);
    font-size: medium;
    font-weight: 20px;
  }
  .About{
    color: rgba(1, 172, 253, 1);
    font-size: medium;
    font-weight: 20px;
  }
  .Facilities{
    color: #05D4DF;
    font-size: medium;
    font-weight: 20px;
  }
  .Admission{
    color: #5D58EF;
    font-size: medium;
    font-weight: 20px;
  }
  .btn{
    width: 197px;
    height: 50px;
    background-color: rgba(254, 163, 1, 1);
    text-align: center;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    font-weight: 400;
    font-size: 20px;
  }
  .menu-btn{
    display: none;
  }
  /* End of Navigation Web */
  /* Starting Mobile Responsive for navigation bar */
  @media screen and (max-width:576px){
    .navigation .anchor {
      display: none;
    }
    .btn{
      display: none;
    }
    h2{
      display: none;
    }
    .menu-btn{
      display: block;
    }
   
    
  }


  /* Navigation Bar 100% Complete */
  .firstpage{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
    
  }
  .firstpage .content>h2{
    font-size: 56px;
    font-weight: bold;
  }
  .empowering{
    color: rgba(254, 163, 1, 1);
  }
  .toward{
    color: rgba(1, 172, 253, 1);
  }
  .btn-enroll{
    width: 197px;
    height: 50px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  /* First page Mobile Responsive */
  @media screen and (max-width:576px){
    .firstpage{
      flex-direction: column-reverse;
      margin: 0 auto;

    }
    
  }
