@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
  }
  .navigation .logo{
    display: flex;
  }
  .navigation .anchor{
    display: flex;
    gap: 20px;
    
  }
  .navigation .anchor .an{
    text-decoration: none;
  }
  .home{
    color: rgba(254, 163, 1, 1);
    font-size: medium;
    font-weight: 20px;
  }
  .About{
    color: rgba(1, 172, 253, 1);
    font-size: medium;
    font-weight: 20px;
  }
  .Facilities{
    color: #05D4DF;
    font-size: medium;
    font-weight: 20px;
  }
  .Admission{
    color: #5D58EF;
    font-size: medium;
    font-weight: 20px;
  }
  .btn{
    width: 197px;
    height: 50px;
    background-color: rgba(254, 163, 1, 1);
    text-align: center;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    font-weight: 400;
    font-size: 20px;
  }
  .menu-btn{
    display: none;
  }
  /* End of Navigation Web */
  /* Starting Mobile Responsive for navigation bar */
  @media screen and (max-width:576px){
    .navigation .anchor {
      display: none;
    }
    .btn{
      display: none;
    }
    h2{
      display: none;
    }
    .menu-btn{
      display: block;
    }
   
    
  }


  /* Navigation Bar 100% Complete */
  .firstpage{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
    
  }
  .firstpage .content>h2{
    font-size: 56px;
    font-weight: bold;
  }
  .empowering{
    color: rgba(254, 163, 1, 1);
  }
  .toward{
    color: rgba(1, 172, 253, 1);
  }
  .btn-enroll{
    width: 197px;
    height: 50px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  /* First page Mobile Responsive */
  @media screen and (max-width:576px){
    .firstpage{
      flex-direction: column-reverse;
    }
  }



  /* Starting Second page */
  .secondPage{
    background-image: url(../assets/bg.png);
  }
  .secondPageHeading{
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    padding-bottom: 80px;
  }
  .cardOne{
    width: 370px;
    height: 476px;
    background-color: #DEF5FF;
  }
  .cardTwo{
    width: 370px;
    height: 476px;
    background-color: #FFF4DC;
  }
  .cardThree{
    width: 370px;
    height: 476px;
    background-color: #F2E8FF;
  }
  .threeCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    box-shadow: slategrey;
  }
  .cardOne img{
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 52px;
  }
  .cardOne h4{
    padding-left: 78px;
    padding-right: 78px;
  }
  .cardOne p{
    padding-left: 40px;
    padding-right: 40px;
  }
  .cardOne button{
    padding-left: 132px;
    padding-right: 132px;
    border: none;
    color: #05D4DF;
  }



  /* Second card */

  .cardTwo img{
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 52px;
  }
  .cardTwo h4{
    padding-left: 78px;
    padding-right: 78px;
  }
  .cardTwo p{
    padding-left: 40px;
    padding-right: 40px;
  }
  .cardTwo button{
    padding-left: 132px;
    padding-right: 132px;
    border: none;
    color: yellowgreen;
  }

  .cardThree img{
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 52px;
  }
  .cardThree h4{
    padding-left: 78px;
    padding-right: 78px;
  }
  .cardThree p{
    padding-left: 40px;
    padding-right: 40px;
  }
  .cardThree button{
    padding-left: 132px;
    padding-right: 132px;
    border: none;
    color: violet;
  }
/* Second page Responsive */
@media screen and (max-width:576px) {
  .threeCard{
    grid-template-columns: repeat(1,1fr);
    margin-left: 50px;
    gap: 50px;
  }
  .secondPageHeading{
    margin-top: 20px;
  }
}

/* Start Third page */
.thirdPageHeading{
  text-align: center;
  font-weight: bold;
  font-size: 46px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.thirdPage{
  background-image: url(../assets/bg.png);
}
.thirdPageAllPicture{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.thirdPageAllPicture .fourPicture{
  display: grid;
  grid-template-columns: repeat(2,1fr);

}
.bigPicture img{
  width: 540px;
  height: 337px;
  border-radius: 10px;
  visibility: visible;
}
.bigPicture h3{
  font-weight: bold;
  font-size: 24px;
}
.thirdPage{
  margin-left: 80px;
}
.fourPicture img{
  border-radius: 10px;
}
.thirdPage button{
  width: 197px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-left:622px;
  margin-right:622px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
/* Third page Responsive */
@media screen and (max-width:576px) {
  .thirdPageAllPicture .bigPicture{
    display: none;
  }
  .thirdPageAllPicture .fourPicture{
    grid-template-columns: repeat(1,4fr);
    margin-left: 50px;
  }
}
footer{
  background-color: #01ACFD;
}

.footer{
  
  display: flex;
}
.parentOfFirstSecond{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  color: #FFFFFF;
  gap: 89px;
  margin-top: 50px;
  margin-left: 40px;
}

.parentOfFirstSecond a{
  text-decoration: none;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #FFFFFF;
}
@media screen and (max-width:576px){
  .parentOfFirstSecond{
    grid-template-columns: repeat(1,1fr);
  }
}

  
  